<%- include("partials/admin_header")  %>
<!-- Begin Page Content -->
<div class="container-fluid">
  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">
        Rooms List
      </h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>Name</th>
              <th>Address</th>
              <th>Total Rooms</th>
              <th>Vacant Rooms</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>Name</th>
              <th>Address</th>
              <th>Total Rooms</th>
              <th>Vacant Rooms</th>
            </tr>
          </tfoot>
          <tbody>
            <% rooms.forEach(function(room){ %>
            <tr>
              <td><%= room.propName %></td>
              <td><%= room.propAddress %></td>
              <td><%= room.propRooms %></td>
              <td><%= room.propName %></td>
            </tr>
            <% }); %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!-- /.container-fluid -->
</div>
<!-- End of Main Content -->
<%- include("partials/admin_footer")  %>