<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,400i|Nunito:300,300i" rel="stylesheet">
  <link rel="stylesheet" href="/home/css/preloader.css">
  <link rel="stylesheet" href="/home/css/style.css">
  <link rel="stylesheet" href="/home/css/nav.css">
  <link rel="shortcut icon" type="image/png" href="/roomlist/img/favicon.png">

  <title>SkyLivings &mdash; your home, your freedom</title>
</head>

<body>
  <div class="loading-screen">
    <div class="loading-animation">
      <img src="home/img/logo.png" alt="" class="logo-loader">
      <div class="loading-bar"></div>
    </div>
  </div>
  <div class="container">
    <div class="sidebar">
      <nav class="navbar">
        <ul class="navbar-nav">
          <li class="logo">
            <a href="#" class="nav-link">
              <span class="link-text logo-text">SkyLivings</span>
              <svg aria-hidden="true" focusable="false" data-prefix="fad" data-icon="angle-double-right" role="img"
                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"
                class="svg-inline--fa fa-angle-double-right fa-w-14 fa-5x">
                <g class="fa-group">
                  <path fill="currentColor"
                    d="M224 273L88.37 409a23.78 23.78 0 0 1-33.8 0L32 386.36a23.94 23.94 0 0 1 0-33.89l96.13-96.37L32 159.73a23.94 23.94 0 0 1 0-33.89l22.44-22.79a23.78 23.78 0 0 1 33.8 0L223.88 239a23.94 23.94 0 0 1 .1 34z"
                    class="fa-secondary"></path>
                  <path fill="currentColor"
                    d="M415.89 273L280.34 409a23.77 23.77 0 0 1-33.79 0L224 386.26a23.94 23.94 0 0 1 0-33.89L320.11 256l-96-96.47a23.94 23.94 0 0 1 0-33.89l22.52-22.59a23.77 23.77 0 0 1 33.79 0L416 239a24 24 0 0 1-.11 34z"
                    class="fa-primary"></path>
                </g>
              </svg>
            </a>
          </li>

          <li class="nav-item">
            <a href="#" class="nav-link">
              <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512.001 512.001"
                style="enable-background:new 0 0 512.001 512.001;" xml:space="preserve">
                <path fill="currentColor" class="fa-secondary" d="M197.778,76.425l-63.604-63.602c-16.798-17.098-46.798-17.098-63.896,0L60.075,23.325
             c-0.363,0.363-11.096,10.932-11.096,11.4c-5.402,5.7-5.105,15,0.597,20.4l105.901,105.899c5.401,6.006,15.597,6.002,21.002,0
             l21.299-21.299C214.89,123.203,215.933,93.951,197.778,76.425z" />
                <path fill="currentColor" class="fa-secondary" d="M498.723,377.978l-63.6-63.6c-16.798-17.098-46.498-17.098-63.3,0l-10.499,10.801l-10.8,10.499
             c-5.999,5.7-5.999,15.3,0,21l106.201,106.199c5.184,5.772,15.059,6.236,21.299,0l10.199-10.499l10.499-10.8
             C516.426,424.18,516.426,395.379,498.723,377.978z" />
                <path fill="currentColor" class="fa-primary" d="M488.224,452.38l-10.199,10.499c-81.899,73.801-177.601,56.1-231.599,1.8L47.477,265.125
             c-63.303-63.001-63.303-165.901,0-229.2c0.3,0,2.699-2.401,2.699-2.699l9.899-9.901l126.899,126.899l-5.999,6.301l-4.497,4.499
             c-9.602,10.501-17.402,17.1-17.402,31.8c0,9.3,3.6,17.701,9.902,24.3l50.098,50.101l75.345,75.954c12.902,12.9,35.402,12.9,48.303,0
             l7.8-7.5l10.8-10.499L488.224,452.38z" />
                <path fill="currentColor" class="fa-primary"
                  d="M361.324,325.18l126.899,127.2l-10.199,10.499c-81.899,73.801-177.601,56.1-231.599,1.8
             L134.474,352.124c0-0.298,0-0.298,0-0.298l84.602-84.6l75.345,75.954c12.902,12.9,35.402,12.9,48.303,0l7.8-7.5L361.324,325.18z" />

              </svg>
              <span class="link-text">Contact</span>
            </a>
          </li>

          <li class="nav-item">
            <a href="#" class="nav-link">
              <svg height="512pt" viewBox="0 -32 512 512" width="512pt" xmlns="http://www.w3.org/2000/svg">
                <path class="fa-primary"
                  d="m298.667969 106.667969c0 58.910156-47.757813 106.664062-106.667969 106.664062s-106.667969-47.753906-106.667969-106.664062c0-58.910157 47.757813-106.667969 106.667969-106.667969s106.667969 47.757812 106.667969 106.667969zm0 0"
                  fill="currentColor" />
                <path class="fa-secondary"
                  d="m282.667969 256h-181.335938c-55.871093 0-101.332031 45.460938-101.332031 101.332031v74.667969c0 8.832031 7.167969 16 16 16h352c8.832031 0 16-7.167969 16-16v-74.667969c0-55.871093-45.460938-101.332031-101.332031-101.332031zm0 0"
                  fill="currentColor" />
                <g fill="currentColor">
                  <path class="fa-secondary"
                    d="m458.667969 213.332031h-138.667969c-11.796875 0-21.332031-9.554687-21.332031-21.332031s9.535156-21.332031 21.332031-21.332031h138.667969c11.796875 0 21.332031 9.554687 21.332031 21.332031s-9.535156 21.332031-21.332031 21.332031zm0 0" />
                  <path class="fa-secondary"
                    d="m506.902344 180.265625-74.667969-69.332031c-3.007813-2.796875-6.933594-4.246094-10.878906-4.246094-10.582031 0-16.023438 9.003906-16.023438 15.980469v138.664062c0 8.875 7.210938 16 16 16 3.96875 0 7.875-1.46875 10.902344-4.265625l74.667969-69.332031c3.242187-3.03125 5.097656-7.296875 5.097656-11.734375s-1.855469-8.703125-5.097656-11.734375zm0 0" />
                </g>
              </svg>
              <span class="link-text">Login</span>
            </a>
          </li>

          <li class="nav-item">
            <a href="/admin" class="nav-link">
              <svg height="512pt" viewBox="0 -11 512 512" width="512pt" xmlns="http://www.w3.org/2000/svg">
                <path class="fa-secondary"
                  d="m288 378.667969c0-28.800781 17.644531-53.527344 42.667969-64v-5.335938c0-12.96875 3.132812-25.128906 8.339843-36.160156-16.128906-10.816406-35.5-17.171875-56.339843-17.171875h-181.335938c-55.871093 0-101.332031 45.460938-101.332031 101.332031v74.667969c0 8.832031 7.167969 16 16 16h272zm0 0"
                  fill="currentColor" />
                <path class="fa-primary"
                  d="m298.667969 106.667969c0 58.910156-47.757813 106.664062-106.667969 106.664062s-106.667969-47.753906-106.667969-106.664062c0-58.910157 47.757813-106.667969 106.667969-106.667969s106.667969 47.757812 106.667969 106.667969zm0 0"
                  fill="currentColor" />
                <path class="fa-secondary"
                  d="m474.667969 341.332031h-117.335938c-20.585937 0-37.332031 16.746094-37.332031 37.335938v74.664062c0 20.589844 16.746094 37.335938 37.332031 37.335938h117.335938c20.585937 0 37.332031-16.746094 37.332031-37.335938v-74.664062c0-20.589844-16.746094-37.335938-37.332031-37.335938zm0 0"
                  fill="currentColor" />
                <path class="fa-primary"
                  d="m416 256c-29.417969 0-53.332031 23.9375-53.332031 53.332031v32h32v-32c0-11.753906 9.554687-21.332031 21.332031-21.332031s21.332031 9.578125 21.332031 21.332031v32h32v-32c0-29.394531-23.914062-53.332031-53.332031-53.332031zm0 0"
                  fill="currentColor" />
              </svg>
              <span class="link-text">Admin</span>
            </a>
          </li>

          <li class="nav-item">
            <a href="#" class="nav-link">
              <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 52 52"
                style="enable-background:new 0 0 52 52;" xml:space="preserve">
                <path fill="currentColor" class="fa-secondary" d="M48.872,22.898c-4.643-0.893-6.772-6.318-3.976-10.13l1.964-2.678l-4.243-4.243l-2.638,1.787
                   c-3.914,2.652-9.256,0.321-9.974-4.351L29.5,0h-6l-0.777,4.041c-0.873,4.54-6.105,6.708-9.933,4.115L9.383,5.847L5.14,10.09
                   l1.964,2.678c2.796,3.812,0.666,9.237-3.976,10.13L0,23.5v6l3.283,0.505c4.673,0.719,7.003,6.061,4.351,9.975l-1.787,2.637
                   l4.243,4.243l2.678-1.964c3.812-2.796,9.237-0.667,10.13,3.976L23.5,52h6l0.355-2.309c0.735-4.776,6.274-7.071,10.171-4.213
                   l1.884,1.382l4.243-4.243l-1.787-2.637c-2.651-3.914-0.321-9.256,4.351-9.975L52,29.5v-6L48.872,22.898z M26.5,31
                   c-2.485,0-4.5-2.015-4.5-4.5s2.015-4.5,4.5-4.5s4.5,2.015,4.5,4.5S28.985,31,26.5,31z" />
                <path fill="currentColor" class="fa-primary" d="M26.5,17c-5.247,0-9.5,4.253-9.5,9.5s4.253,9.5,9.5,9.5s9.5-4.253,9.5-9.5S31.747,17,26.5,17z
                    M26.5,31c-2.485,0-4.5-2.015-4.5-4.5s2.015-4.5,4.5-4.5s4.5,2.015,4.5,4.5S28.985,31,26.5,31z" />
              </svg>

              <span class="link-text">Setting</span>
            </a>
          </li>

          <li class="nav-item" id="themeButton">
            <a href="#" class="nav-link">
              <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512"
                style="enable-background:new 0 0 512 512;" xml:space="preserve">
                <path fill="currentColor" class="fa-primary" d="M512,255.843L299.221,22.522v139.202h-45.238C113.712,161.724,0,275.437,0,415.708v73.77
	l20.094-22.016c68.318-74.853,164.981-117.5,266.324-117.5h12.803v139.202L512,255.843z" />
                <path fill="currentColor" class="fa-secondary" d="M0,415.708v73.77l20.094-22.017c68.318-74.853,164.981-117.5,266.324-117.5h12.803v139.202
	L512,255.843H56.635C21.228,299.497,0,355.12,0,415.708z" />
              </svg>

              <span class="link-text">Share</span>
            </a>
          </li>
        </ul>
      </nav>

    </div>

    <header class="header">
      <img src="home/img/logo.png" alt="Nexter logo" class="header__logo">
      <h3 class="heading-3">Your own home:</h3>
      <h1 class="heading-1">The ultimate personal freedom</h1>
      <button class="btn header__btn" id="featured-button">View our
        properties</button>
      <div class="header__seenon-text">Available at</div>
      <div class="header__seenon-logos">
        <img src="home/img/logo-loc-1.png" alt="Seen on logo 1">
        <img src="home/img/logo-loc-2.png" alt="Seen on logo 2">
        <img src="home/img/logo-loc-3.png" alt="Seen on logo 3">
        <img src="home/img/logo-loc-4.png" alt="Seen on logo 4">
      </div>
    </header>

    <div class="realtors">
      <h3 class="heading-3">Properties</h3>
      <div class="realtors__list">
        <img src="home/img/realtor-2.jpg" alt="Realtor 1" class="realtors__img">
        <div class="realtors__details">
          <h4 class="heading-4 heading-4--light">Paying Guest</h4>
          <p class="realtors__sold">24 Available</p>
        </div>

        <img src="home/img/realtor-1.jpg" alt="Realtor 2" class="realtors__img">
        <div class="realtors__details">
          <h4 class="heading-4 heading-4--light">Hostels</h4>
          <p class="realtors__sold">21 Available</p>
        </div>

        <img src="home/img/realtor-3.jpg" alt="Realtor 3" class="realtors__img">
        <div class="realtors__details">
          <h4 class="heading-4 heading-4--light">Flats</h4>
          <p class="realtors__sold">19 Available</p>
        </div>
      </div>
    </div>

    <section class="features">
      <div class="feature">
        <svg class="feature__icon">
          <use xlink:href="home/img/sprite.svg#icon-expand"></use>
        </svg>
        <h4 class="heading-4 heading-4--dark">Spacious and cosy rooms</h4>
        <p class="feature__text">Spacious properties with flexible accomodation for single and group stay including
          set up for fully equipped kitchen and bathroom.</p>
      </div>

      <div class="feature">
        <svg class="feature__icon">
          <use xlink:href="home/img/sprite.svg#icon-trophy"></use>
        </svg>
        <h4 class="heading-4 heading-4--dark">Only the best properties</h4>
        <p class="feature__text">Voluptatum mollitia quae. Vero ipsum sapiente molestias accusamus rerum sed a eligendi
          aut quia.</p>
      </div>

      <div class="feature">
        <svg class="feature__icon">
          <use xlink:href="home/img/sprite.svg#icon-map-pin"></use>
        </svg>
        <h4 class="heading-4 heading-4--dark">All homes in top locations</h4>
        <p class="feature__text">Tenetur distinctio necessitatibus pariatur voluptatibus quidem consequatur harum.</p>
      </div>

      <div class="feature">
        <svg class="feature__icon">
          <use xlink:href="home/img/sprite.svg#icon-key"></use>
        </svg>
        <h4 class="heading-4 heading-4--dark">Get room service with laundry</h4>
        <p class="feature__text">Vero ipsum sapiente molestias accusamus rerum. Lorem, ipsum dolor sit amet consectetur
          adipisicing elit.</p>
      </div>

      <div class="feature">
        <svg class="feature__icon">
          <use xlink:href="home/img/sprite.svg#icon-presentation"></use>
        </svg>
        <h4 class="heading-4 heading-4--dark">Top 1% realtors</h4>
        <p class="feature__text">Quidem consequatur harum, voluptatum mollitia quae. Tenetur distinctio necessitatibus
          pariatur voluptatibus.</p>
      </div>

      <div class="feature">
        <svg class="feature__icon">
          <use xlink:href="home/img/sprite.svg#icon-lock"></use>
        </svg>
        <h4 class="heading-4 heading-4--dark">Your Security our Priority</h4>
        <p class="feature__text">Pariatur voluptatibus quidem consequatur harum, voluptatum mollitia quae.</p>
      </div>
    </section>

    <div class="story__pictures">
      <img src="home/img/story-1.jpeg" alt="Couple with new house" class="story__img--1">
      <img src="home/img/story-2.jpeg" alt="New house" class="story__img--2">
    </div>

    <div class="story__content">
      <h3 class="heading-3 mb-sm">Happy Customers</h3>
      <h2 class="heading-2 heading-2--dark mb-md">&ldquo;The best decision of our lives&rdquo;</h2>
      <p class="story__text">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur distinctio necessitatibus pariatur
        voluptatibus.
        Quidem consequatur harum volupta!
      </p>
      <button class="btn">Find your own home</button>
    </div>

    <section class="homes" id="homes-featured">
      <% featured.forEach(function(feature){ %>


      <div class="home">
        <img src="<%= '/uploads/images/' + feature.propImgExt %> " alt="House 1" class="home__img">
        <svg class="home__like">
          <use xlink:href="home/img/sprite.svg#icon-heart-full"></use>
        </svg>
        <h5 class="home__name"><%= feature.propName %> </h5>
        <div class="home__location">
          <svg>
            <use xlink:href="home/img/sprite.svg#icon-map-pin"></use>
          </svg>
          <p><%= feature.propLocation %> </p>
        </div>
        <div class="home__rooms">
          <svg>
            <use xlink:href="home/img/sprite.svg#icon-profile-male"></use>
          </svg>
          <p><%= feature.propRooms %> rooms</p>
        </div>
        <div class="home__area">
          <svg>
            <use xlink:href="home/img/sprite.svg#icon-expand"></use>
          </svg>
          <p> <%= feature.propSize %> m<sup>2</sup></p>
        </div>
        <div class="home__price">
          <svg>
            <use xlink:href="home/img/sprite.svg#icon-key"></use>
          </svg>
          <p><%= feature.propPrice %> </p>
        </div>
        <button onclick="location.href='/room'" class="btn home__btn">View Detail</button>
      </div>

      <% }); %>
      <div class="container1">
        <button onclick="location.href='/roomlist'" class="button1 learn-more">
          <span class="circle" aria-hidden="true">
            <span class="icon arrow"></span>
          </span>
          <span class="button-text">See More</span>
        </button>
      </div>
    </section>
    <section class="gallery">
      <figure class="gallery__item gallery__item--1"><img src="home/img/gal-1.jpeg" alt="Gallery image 1"
          class="gallery__img"></figure>
      <figure class="gallery__item gallery__item--2"><img src="home/img/gal-2.jpeg" alt="Gallery image 2"
          class="gallery__img"></figure>
      <figure class="gallery__item gallery__item--3"><img src="home/img/gal-3.jpeg" alt="Gallery image 3"
          class="gallery__img"></figure>
      <figure class="gallery__item gallery__item--4"><img src="home/img/gal-4.jpeg" alt="Gallery image 4"
          class="gallery__img"></figure>
      <figure class="gallery__item gallery__item--5"><img src="home/img/gal-5.jpeg" alt="Gallery image 5"
          class="gallery__img"></figure>
      <figure class="gallery__item gallery__item--6"><img src="home/img/gal-6.jpeg" alt="Gallery image 6"
          class="gallery__img"></figure>
      <figure class="gallery__item gallery__item--7"><img src="home/img/gal-7.jpeg" alt="Gallery image 7"
          class="gallery__img"></figure>
      <figure class="gallery__item gallery__item--8"><img src="home/img/gal-8.jpeg" alt="Gallery image 8"
          class="gallery__img"></figure>
      <figure class="gallery__item gallery__item--9"><img src="home/img/gal-9.jpeg" alt="Gallery image 9"
          class="gallery__img"></figure>
      <figure class="gallery__item gallery__item--10"><img src="home/img/gal-10.jpeg" alt="Gallery image 10"
          class="gallery__img"></figure>
      <figure class="gallery__item gallery__item--11"><img src="home/img/gal-11.jpeg" alt="Gallery image 11"
          class="gallery__img"></figure>
      <figure class="gallery__item gallery__item--12"><img src="home/img/gal-12.jpeg" alt="Gallery image 12"
          class="gallery__img"></figure>
      <figure class="gallery__item gallery__item--13"><img src="home/img/gal-13.jpeg" alt="Gallery image 13"
          class="gallery__img"></figure>
      <figure class="gallery__item gallery__item--14"><img src="home/img/gal-14.jpeg" alt="Gallery image 14"
          class="gallery__img"></figure>


    </section>

    <footer class="footer">
      <ul class="nav">
        <li class="nav__item"><a href="#" class="nav__link">Option</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Contact</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Option</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Contact us</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Option</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Option</a></li>
      </ul>
      <p class="copyright">
        &copy; Copyright Skylivings.
      </p>
    </footer>
  </div>
  <!-- <script src="js/theme.js"></script> -->

  <script src="https://code.jquery.com/jquery-3.5.0.min.js"
    integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
  <script src="/home/js/preloader.js"></script>
  <script>

    $("#featured-button").click(function () {
      $('html,body').animate({
        scrollTop: $("#homes-featured").offset().top
      },
        'slow');
    });
  </script>

</body>

</html>