<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">

    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,400i|Nunito:300,300i" rel="stylesheet">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/roomlist/css/pagination.css">
    <link rel="stylesheet" href="/roomlist/css/style.css">
    <link rel="stylesheet" href="/roomlist/css/nav.css">
    <!-- <link rel="stylesheet" href="/home/css/nav.css"> -->
    <link rel="stylesheet" href="/roomlist/css/checkbox.css">



    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <title>SkyLivings &mdash; your home, your freedom</title>
</head>
<style>
    .dropbtn {
        color: #c69963;
        border: none;
        cursor: pointer;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        right: 0;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .dropdown-content a:hover {
        background-color: #f1f1f1;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropdown:hover .dropbtn {}
</style>

<body>
    <header class="header">
        <img src="/roomlist/img/logo.png" alt="trillo logo" class="logo-top">

        <form action="#" class="search">
            <input type="text" class="search__input" id="search-rooms" placeholder="Search hotels">
            <a href="" class="search__button">
                <svg class="search__icon">
                    <use xlink:href="/roomlist/img/sprite.svg#icon-magnifying-glass"></use>
                </svg>
            </a>
        </form>

        <nav class="user-nav">

            <div class="user-nav__user dropdown">

                <button class="dropbtn">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                        x="0px" y="0px" viewBox="0 0 100 125" enable-background="new 0 0 100 100" xml:space="preserve">
                        <path fill="currentColor" class="fa-primary"
                            d="M5.964,71.747c-1.285,1.284-1.285,3.367,0,4.652l9.824,9.823c0.16,0.161,0.336,0.305,0.525,0.431  c0.035,0.023,0.074,0.038,0.109,0.059c0.148,0.089,0.298,0.174,0.458,0.24c0.062,0.025,0.127,0.038,0.188,0.058  c0.14,0.048,0.278,0.097,0.426,0.126c0.097,0.019,0.196,0.02,0.295,0.03c0.113,0.012,0.223,0.035,0.339,0.035  c0.106,0,0.206-0.021,0.308-0.031c0.109-0.011,0.22-0.012,0.329-0.033c0.133-0.027,0.259-0.073,0.387-0.115  c0.075-0.025,0.153-0.04,0.228-0.071c0.14-0.058,0.27-0.135,0.4-0.211c0.055-0.032,0.114-0.054,0.167-0.09  c0.185-0.123,0.357-0.263,0.512-0.419l9.833-9.833c1.285-1.284,1.285-3.367,0-4.652c-1.283-1.285-3.367-1.285-4.652,0l-4.223,4.223  V51.012c0-1.817-1.473-3.29-3.29-3.29c-1.817,0-3.29,1.473-3.29,3.29v24.954l-4.222-4.221C9.331,70.46,7.247,70.46,5.964,71.747z" />
                        <path fill="currentColor" class="fa-primary"
                            d="M94.036,28.253c1.285-1.284,1.285-3.367,0-4.652l-9.824-9.823c-0.16-0.161-0.336-0.305-0.525-0.431  c-0.035-0.023-0.074-0.038-0.109-0.059c-0.148-0.089-0.298-0.174-0.458-0.24c-0.062-0.025-0.127-0.038-0.188-0.058  c-0.14-0.048-0.278-0.097-0.426-0.126c-0.097-0.019-0.196-0.02-0.295-0.03c-0.113-0.012-0.223-0.035-0.339-0.035  c-0.106,0-0.206,0.021-0.308,0.031c-0.109,0.011-0.22,0.012-0.329,0.033c-0.133,0.027-0.259,0.073-0.387,0.115  c-0.075,0.025-0.153,0.04-0.228,0.071c-0.14,0.058-0.27,0.135-0.4,0.211c-0.055,0.032-0.114,0.054-0.167,0.09  c-0.185,0.123-0.357,0.263-0.512,0.419l-9.833,9.833c-1.285,1.284-1.285,3.367,0,4.652c1.283,1.285,3.367,1.285,4.652,0l4.223-4.223  v24.956c0,1.817,1.473,3.29,3.29,3.29s3.29-1.473,3.29-3.29V24.034l4.222,4.221C90.669,29.54,92.753,29.54,94.036,28.253z" />
                        <g>
                            <path fill="currentColor" class="fa-primary"
                                d="M31.074,62.906c0-1.903,1.543-3.446,3.446-3.446h31.01c1.903,0,3.446,1.543,3.446,3.446c0,1.903-1.543,3.446-3.446,3.446   H34.52C32.617,66.351,31.074,64.809,31.074,62.906z" />
                        </g>
                        <g>
                            <path fill="currentColor" class="fa-primary"
                                d="M31.074,49.446c0-1.903,1.543-3.446,3.446-3.446h31.01c1.903,0,3.446,1.543,3.446,3.446c0,1.903-1.543,3.446-3.446,3.446   H34.52C32.617,52.892,31.074,51.349,31.074,49.446z" />
                        </g>
                        <g>
                            <path fill="currentColor" class="fa-primary"
                                d="M31.074,35.987c0-1.903,1.543-3.446,3.446-3.446h31.01c1.903,0,3.446,1.543,3.446,3.446s-1.543,3.446-3.446,3.446H34.52   C32.617,39.432,31.074,37.89,31.074,35.987z" />
                        </g>
                    </svg> Sort</button>
                <div class="dropdown-content">
                    <a href="/roomlist/asc?page=1&limit=12">Low to high</a>
                    <a href="/roomlist/desc?page=1&limit=12">High to low</a>

                </div>
            </div>
        </nav>
    </header>
    <div class="container">

        <%- include("partials/nav")  %>

        <!-- Start of PG Display -->

        <section class="homes">
            <% normal.forEach(function(feature){ %>


            <div class="home">
                <img src="<%= '/uploads/images/' + feature.propImgExt %> " alt="House 1" class="home__img">
                <svg class="home__like">

                </svg>
                <h5 class="home__name"><%= feature.propName %> </h5>
                <div class="home__location">
                    <svg>
                        <use xlink:href="/home/img/sprite.svg#icon-map-pin"></use>
                    </svg>
                    <p><%= feature.propLocation %> </p>
                </div>
                <div class="home__rooms">
                    <svg>
                        <use xlink:href="/home/img/sprite.svg#icon-profile-male"></use>
                    </svg>
                    <p><%= feature.propRooms %> rooms</p>
                </div>
                <div class="home__area">
                    <svg>
                        <use xlink:href="/home/img/sprite.svg#icon-expand"></use>
                    </svg>
                    <p> <%= feature.propSize %> m<sup>2</sup></p>
                </div>
                <div class="home__price">
                    <svg>
                        <use xlink:href="/home/img/sprite.svg#icon-key"></use>
                    </svg>
                    <p><%= feature.propPriceDisplay %> </p>
                </div>
                <button onclick="location.href='/rooms/<%= feature._id %>'" class="btn home__btn">View Detail</button>
            </div>

            <% }); %>
        </section>


        <div class="pagenumber">
            <div class="pagenumber__content">
                <div class="counter"></div>
                <button class="btn-page paginate left"><a id="anchorleft"><i></i><i></i></a></button>
                <button class="btn-page paginate right"><a id="anchorright"><i></i><i></i></a></button>
            </div>
        </div>

    </div>
    <script>

        $(function () {
            $('#search-rooms').autocomplete({
                source: function (req, res) {
                    $.ajax({
                        url: '/autocomplete',
                        dataType: "jsonp",
                        type: "GET",
                        data: req,
                        success: function (data) {
                            res(data);
                        },
                        error: function (err) {
                            console.log(err);
                        }
                    });
                },
                minLength: 1,
                select: function (event, ui) {
                    if (ui.item) {
                        $('#search-rooms').text(ui.item.label);
                    }
                }
            });
        })
    </script>



    <script src="/roomlist/js/pagination.js"></script>
    <script src="/roomlist/js/navAnimation.js"></script>
</body>

</html>